<%= form_for @comment_changeset, comment_path(@conn, :create, @event), fn f -> %>
  <div class="form-group">
    <%= label f, :body, class: "control-label" %>
    <%= text_input f, :body, class: "form-control" %>
    <%= error_tag f, :duration %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
